/*

Background - MAP

src: https://stackoverflow.com/questions/19925075/fit-website-background-image-to-screen-size*/
body {
 
    width: 100%;
    height: 400px;
    background-image: url("../img/Antarktis_map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#TestButtonYouTube {
    display:block;
    margin: 0 auto;
    background-color: red;
}

.hidden {
    display: none;
}